﻿@model CleanArchMvc.Application.DTOs.ProductDTO

<div class="jumbotron">
    <h2>Delete Product</h2>
    <h3> Are you sure you want to delete this?</h3>
</div>
<hr />

<form asp-action="Delete">
    <div class="row">
        <div class="col-sm-2">
            <div>
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Description)</strong>
            </div>
            <div>
                <strong>@Html.DisplayNameFor(model => model.Price)</strong>
            </div>
        </div>
        <div class="col-md-10">
            <div>
                @Html.DisplayFor(model => model.Name)
            </div>
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
            <div>
                @Html.DisplayFor(model => model.Price)
            </div>
        </div>
    </div>
    <br />

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
    </div>
</form>


