﻿@model CleanArchMvc.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Register New Category";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
</div>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Name Category" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </div>
    </div>
</form>
