﻿@model CleanArchMvc.Application.DTOs.CategoryDTO

<div class="jumbotron">
    <h3>Delete Category</h3>

    <h4>Are you sure you want to delete this</h4>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    </form>
</div>