﻿@model CleanArchMvc.Application.DTOs.CategoryDTO

@{
    ViewData["Title"] = "Edit Category";
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>
