﻿@model LoginViewModel

<h2>Log In</h2>

<div class="row">
    <div class="col-md-10">

        <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">

            <input type="hidden" asp-for="ReturnUrl"/>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">

                <label asp-for="Email" class="col-md-2 control-label"></label>

                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">

                <label asp-for="Password" class="col-md-2 control-label"></label>

                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn-outline-dark"> Log in</button>
                </div>
            </div>

            <p>
                <a asp-action="Register">Register as new user?</a>
            </p>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
